// variables

$primary: rgba(11, 90, 165, 1);
$secondary: rgba(0, 0, 0, 0.5);
$dark: rgba(0, 0, 0, 1);
$success:rgba(0, 182, 123, 1);
$gray:rgba(0, 0, 0, 0.2);
$dark-gray:rgba(0, 0, 0, 0.5);
$box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px;



// navbar colors
$navbar-light-color: $dark;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 5rem
);
